<h1>About Us</h1>
  <p>
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    to przewodnik z ilustracjami i instruktażem do nauki 'web development'
    z <a href="http://rubyonrails.org/">Ruby on Rails</a>. To jest próbna
	aplikacja (sample_app) z tego przewodnika .
  </p>
