<h1>Help</h1>
  <p>
    Pomoc uzyskasz na
    <a href="http://railstutorial.org/help">Rails Tutorial help page</a>.
    Pomoc dla 'sample app' - tutaj:
    <a href="http://railstutorial.org/book">Rails Tutorial book</a>.
  </p>