<h1>Sample App</h1>
  <p>
    To jest strona startowa
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    aplikacji próbnej.
  </p>
 <%= link_to "Zapisz się!", signup_path, :class => "signup_button round" %>
