<header>
       <%= image_tag("logo.png", :alt => "Sample App", :class => "round") %>
       <nav class="round">
         <ul>
           <li><%= link_to "Start", '#' %></li>
           <li><%= link_to "Pomoc", '#' %></li>
           <li><%= link_to "Logowanie", '#' %></li>
         </ul>
       </nav>
     </header>